<h3>Login Page</h3>
<div class="form-wrapper">
  <section class="form-img">
    <img src="../../../../assets/login/login.jpg" alt="" />
  </section>
  <section class="form-section">
    <form class="login-form" [formGroup]="form">
      <label for="login-email">Email address</label>
      <input type="email" class="form-control" id="login-email" name="email" placeholder="artem@mail.com" formControlName="email"/>

      <label for="login-password">Password </label>
      <input type="password" class="form-control" id="login-password" name="password" placeholder="********" formControlName="password"/>

      <button type="submit" class="login-button" (click)="login()" *ngIf="form.valid">Login</button>
      <button type="submit" class="login-button-disabled" disabled *ngIf="!form.valid">Login</button>
      <p>Don't have an account? <a href="/register">Register</a> now.</p>
    </form>
  </section>
</div>

