<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="https://jakarta.ee/xml/ns/jakartaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
        version="6.0"
        metadata-complete="true">

    <display-name>Welcome to Servlet Crud</display-name>

    <servlet>
        <servlet-name>mainController</servlet-name>
        <servlet-class>org.example.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carCreateController</servlet-name>
        <servlet-class>org.example.controller.CarCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carReviewController</servlet-name>
        <servlet-class>org.example.controller.CarReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carUpdateController</servlet-name>
        <servlet-class>org.example.controller.CarUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carDeleteController</servlet-name>
        <servlet-class>org.example.controller.CarDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parkCreateController</servlet-name>
        <servlet-class>org.example.controller.ParkCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parkReviewController</servlet-name>
        <servlet-class>org.example.controller.ParkReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parkUpdateController</servlet-name>
        <servlet-class>org.example.controller.ParkUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parkDeleteController</servlet-name>
        <servlet-class>org.example.controller.ParkDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carParksReviewController</servlet-name>
        <servlet-class>org.example.controller.CarParksReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carParkDeleteController</servlet-name>
        <servlet-class>org.example.controller.CarParkDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>parkCarsReviewController</servlet-name>
        <servlet-class>org.example.controller.ParkCarsReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carParkAddController</servlet-name>
        <servlet-class>org.example.controller.CarParkAddController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainController</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carCreateController</servlet-name>
        <url-pattern>/cars-new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carReviewController</servlet-name>
        <url-pattern>/cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carUpdateController</servlet-name>
        <url-pattern>/cars-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carDeleteController</servlet-name>
        <url-pattern>/cars-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parkCreateController</servlet-name>
        <url-pattern>/parks-new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parkReviewController</servlet-name>
        <url-pattern>/parks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parkUpdateController</servlet-name>
        <url-pattern>/parks-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parkDeleteController</servlet-name>
        <url-pattern>/parks-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carParksReviewController</servlet-name>
        <url-pattern>/car-parks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carParkDeleteController</servlet-name>
        <url-pattern>/car-park-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>parkCarsReviewController</servlet-name>
        <url-pattern>/park-cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carParkAddController</servlet-name>
        <url-pattern>/car-park-add</url-pattern>
    </servlet-mapping>
</web-app>
